.u-section-1 {
  background-image: linear-gradient(#2f6c56, #10d48e);
  min-height: 706px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/ewrrr-min.jpg");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  width: 617px;
  margin: 49px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 701px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-bottom: -105px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 618px;
  }

  .u-section-1 .u-shape-1 {
    height: 298px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -238px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}.u-section-2 {
  background-image: linear-gradient(#437261, #66f4c1);
  min-height: 1074px;
}

.u-section-2 .u-shape-1 {
  background-image: linear-gradient(#10d48e, #43b089);
  transition-duration: 0.5s;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1084px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  animation-duration: 1000ms;
  margin: 0 22px 0 80px;
}

.u-section-2 .u-image-1 {
  height: 590px;
  width: 570px;
  margin: 63px 0 0 80px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1084px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 611px;
  width: 570px;
  margin: 218px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 742px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 954px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 25px;
    margin-left: 50px;
  }

  .u-section-2 .u-image-1 {
    height: 486px;
    width: 470px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 937px;
  }

  .u-section-2 .u-image-2 {
    height: 504px;
    width: 470px;
    margin-top: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 718px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
    margin-right: 11px;
  }

  .u-section-2 .u-image-1 {
    height: 372px;
    margin-top: 35px;
    width: 360px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 718px;
  }

  .u-section-2 .u-image-2 {
    height: 386px;
    width: 360px;
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 974px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 988px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-image-1 {
    height: 578px;
    width: 542px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 693px;
  }

  .u-section-2 .u-image-2 {
    height: 583px;
    width: 542px;
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 557px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    height: 363px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-2 .u-image-2 {
    height: 366px;
    margin-top: -50px;
    width: 340px;
  }
}.u-section-3 {
  background-image: linear-gradient(#43b089, #e8fdf6);
}

.u-section-3 .u-sheet-1 {
  min-height: 770px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 772px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 8.125rem;
  font-weight: 300;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 0 20px 0 40px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 772px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-slider-1 {
  min-height: 650px;
  width: 521px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 40px 65px 45px;
}

.u-section-3 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/pexels-photo-4621787.jpeg");
  background-position: 50% 50%;
  margin: 114px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.0625rem;
  margin: 40px 15px 0;
}

.u-section-3 .u-text-3 {
  width: 191px;
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-3 .u-text-4 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 40px 0;
}

.u-section-3 .u-image-2 {
  width: 83px;
  height: 83px;
  background-image: url("images/pexels-photo-6000065.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  font-size: 1.0625rem;
  width: 311px;
  margin: 24px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  width: 191px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  font-weight: 400;
  width: 136px;
  margin: 15px auto 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: -85px;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  right: -80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 15px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-3 .u-slider-1 {
    height: auto;
    width: 470px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-slider-1 {
    width: 360px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.u-section-3 .u-text-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}.u-section-4 {
  background-image: linear-gradient(#e9fdf6, #f8f8f8);
}

.u-section-4 .u-sheet-1 {
  min-height: 560px;
}

.u-section-4 .u-line-1 {
  height: 6px;
  transform-origin: left center 0px;
  width: 795px;
  animation-duration: 1000ms;
  margin: 100px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  line-height: 1.6;
  width: 795px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 46px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 33px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 33px 229px 25px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 129px;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    width: 720px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
  min-height: 998px;
}

.u-section-5 .u-gallery-1 {
  height: 778px;
  margin-top: 110px;
  margin-bottom: 110px;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(16,212,142,1), rgba(16,212,142,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(16,212,142,1), rgba(16,212,142,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(16,212,142,1), rgba(16,212,142,1));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(16,212,142,1), rgba(16,212,142,1));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 862px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: -215px;
    height: 642px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 2013px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: 0;
    height: 1967px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1695px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: -3389px;
    height: 1475px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1149px;
  }

  .u-section-5 .u-gallery-1 {
    margin-bottom: -2095px;
    height: 929px;
  }
}